<section>

  <section>
    <span><u>.mat-display-4 to .mat-display-1</u></span> <br/> <br/> 
    <header class="mat-display-4">Header 'mat-display-4'</header>
    <header class="mat-display-3">Header 'mat-display-3'</header>
    <header class="mat-display-2">Header 'mat-display-2'</header>
    <header class="mat-display-1">Header 'mat-display-1'</header>
  </section>

  <hr style="border:1px dashed;" />

  <section>
    <span><u>.mat-display-1 to .mat-display-4 </u></span> <br/> <br/>
    <header class="mat-display-1">Header 'mat-display-1'</header>
    <header class="mat-display-2">Header 'mat-display-2'</header>
    <header class="mat-display-3">Header 'mat-display-3'</header>
    <header class="mat-display-4">Header 'mat-display-4'</header>
  </section>

  <hr style="border:1px dashed;" />

  <section>
    <span><u>.mat-h1 to .mat-h4</u></span> <br/> <br/>
    <header class="mat-h1">Header 'mat-h1'</header>
    <header class="mat-h2">Header 'mat-h2'</header>
    <header class="mat-h3">Header 'mat-h3'</header>
    <header class="mat-h4">Header 'mat-h4'</header>
  </section>

  <hr style="border:1px dashed;" />

  <section class="mat-typography">
    <span><u>.mat-typography -> h1 to h4</u></span> <br/> <br/>
    <h1>'h1 inside mat-typography'</h1>
    <h2>'h2 inside mat-typography'</h2>
    <h3>'h3 inside mat-typography'</h3>
    <h4>'h4 inside mat-typography'</h4>
  </section>

  <hr style="border:1px dashed;" />

  <section>
    <span><u>.mat-headline, .mat-title, .mat-subheading-2</u></span> <br/> <br/>
    <header class="mat-headline">Header 'mat-h1' or 'mat-headline'</header>
    <header class="mat-title">Header 'mat-h2' or 'mat-title'</header>
    <header class="mat-subheading-2">Header 'mat-h3' or 'mat-subheading-2'</header>
    <header class="mat-subheading-1">Header 'mat-h4' or 'mat-subheading-1'</header>
  </section>

  <hr style="border:1px dashed;" />

  <section>
    <span><u>.mat-headline, .mat-title, .mat-subheading-2</u></span> <br/> <br/>
    <header class="mat-body-1">'mat-body-1'</header>
    <header class="mat-body-2">'mat-body-2'</header>
    <header class="mat-body-strong">'mat-body-strong'</header>
    <header class="mat-capton">'mat-small', 'mat-capton'</header>
  </section>
  
</section>

<hr style="border:1px dashed;" />

<section class="mat-typography">
  <h1>h1 inside mat-typography</h1>
  <h2>h2 inside mat-typography</h2>
  <h3>h3 inside mat-typography</h3>
  <h4>h4 inside mat-typography</h4>
  <p>p paragraph inside mat-typography</p>
  <caption>caption inside mat-typography</caption>
</section>
